*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: #3808bb75;
    padding: 1.2rem;
}
nav h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    text-align: center;
}
div{
    padding: 1.5rem;
}
table,td ,tr{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px 13px;
    text-wrap: wrap;
}

.container {
    max-width: 80vw;
    margin: 23px auto;
}
h1, h2, h3 {
    margin: 23px 0;
}

.btn{
    padding: 8px 17px;
    background: black;
    color: white;
    font-weight: 900;
    border: 2px solid gray;
    border-radius: 8px;
    margin: 25px 0;
    cursor: pointer;
}

.btnsm{ 
    padding: 8px 17px;
    background: black;
    color: white;
    font-weight: 900;
    border: 2px solid gray;
    border-radius: 8px; 
    cursor: pointer;
}

img{
    cursor: pointer;
    position: relative;
    bottom: 7px;
    width: 15px;
    height: 13px;
}

#alert{
    display: none;
}